.addMargin
  margin: .75em 0 0

  &.addMargin-bottom
    margin-bottom: .75em

.border-bottom
  border-bottom: 1px solid black
.border-left
  border-left: 1px solid black
.border-right
  border-right: 1px solid black
.border-top
  border-top: 1px solid black

.noBorder
  border-bottom: 0
  border-left: 0
  border-right: 0
  border-top: 0

.jumbo
  font-size: 3.375rem
  font-weight: 300

.row
  display: flex
  flex-direction: row

.column
  display: flex
  flex-direction: column

/////////////////////
// JUSTIFY CONTENT //
/////////////////////
.justify-center
  justify-content: center
.justify-space-around
  justify-content: space-around
.justify-space-between
  justify-content: space-between
.justify-flex-end
  justify-content: flex-end

/////////////////
// ALIGN ITEMS //
/////////////////
.align-items-center
  align-items: center
.align-items-flex-start
  align-items: flex-start
.align-items-flex-end
  align-items: flex-end
.align-items-baseline
  align-items: baseline
.align-items-stretch
  align-items: stretch

.flex-1
  flex: 1

.color
  &.blue
    color: $blue
  &.lightFontColor
    color: $lightFontColor
