@import 'axis'
@import 'rupture'
@import './variables'

// Global Reset
border-box-html()
normalize-css()
// print-styles()

h1
  // h1()
  font-size: 1.9rem
  font-weight: 300
  line-height: 1.6em
  margin: 0


h2
  font-size: 1.25rem
  font-weight: 300
  line-height: 1.6em
  margin: 0

h3
  font-size: 1.125rem
  font-weight: 300
  line-height: 1.6em
  margin: 0

h4
  font-size: 1rem
  font-weight: 300
  line-height: 1.6em
  margin: 0

h5
  font-size: .875rem
  font-weight: 300
  line-height: 1.6em
  margin: 0

h6
  font-size: .8rem
  font-weight: 300
  line-height: 1.6em
  margin: 0

p
  font-size: 1rem
  font-weight: 300
  line-height: 1.6em
  margin: 0

ul
  font-size: 1rem
  margin: 0

html body
  font-family: 'proxima-nova'
  font-size: 16px
  // debug()

@import './classes'
